n8n/workflows/02-openclaw-publish-reddit.json
{
  "name": "02 - OpenClaw Publish Reddit",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "node-tg-trigger-02",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [300, 300],
      "webhookId": "tgs-webhook-02",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose"},
          "conditions": [
            {
              "id": "cond-is-publish",
              "leftValue": "={{ $json.message?.text ?? '' }}",
              "rightValue": "/publish",
              "operator": {"type": "string", "operation": "startsWith"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-is-publish",
      "name": "Is /publish",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "jsCode": "const chatId = String($json.message.chat.id);\nreturn [{ json: { chat_id: chatId } }];"
      },
      "id": "node-extract-chat-id",
      "name": "Extract Chat ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://tgs-openclaw:18789/tools/invoke",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "={{ \"Bearer \" + $env.OPENCLAW_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tool: 'analysis-memory', args: { action: 'retrieve', user_id: $json.chat_id } }) }}",
        "options": {"timeout": 10000}
      },
      "id": "node-retrieve-memory",
      "name": "Retrieve from Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 180],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const chatId = $('Extract Chat ID').item.json.chat_id;\nlet rawAnalysis = $json.analysis || null;\nlet analysis = null;\nif (rawAnalysis) {\n  if (typeof rawAnalysis === 'string') {\n    try { analysis = JSON.parse(rawAnalysis); } catch(e) { analysis = null; }\n  } else {\n    analysis = rawAnalysis;\n  }\n}\n\nif (!analysis) {\n  return [{ json: { has_analysis: false, chat_id: chatId } }];\n}\n\nconst tema = analysis.tema || 'Analisis TGS';\nconst resumen = analysis.resumen || '';\nconst proposito = analysis.proposito || '';\nconst subsistemas = (analysis.subsistemas || []).map(s => `- **${s.nombre}**: ${s.proposito}`).join('\\n');\nconst complejidad = analysis.complejidad?.nivel || '';\nconst mermaidEncoded = Buffer.from(analysis.diagrama_mermaid || '').toString('base64url');\nconst mermaidUrl = `https://mermaid.ink/img/${mermaidEncoded}`;\n\nconst title = `[TGS] ${tema}`.slice(0, 300);\nconst body = `## ${tema}\\n\\n**Resumen:** ${resumen}\\n\\n**Proposito:** ${proposito}\\n\\n## Subsistemas\\n${subsistemas}\\n\\n**Complejidad:** ${complejidad}\\n\\n[Ver diagrama del sistema](${mermaidUrl})\\n\\n---\\n*Generado con TGS Mapper Agent*`;\n\nreturn [{ json: { has_analysis: true, chat_id: chatId, title, body, mermaid_url: mermaidUrl } }];"
      },
      "id": "node-parse-analysis",
      "name": "Parse Retrieved Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose"},
          "conditions": [
            {
              "id": "cond-has-analysis",
              "leftValue": "={{ $json.has_analysis }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-has-analysis",
      "name": "Has Analysis",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1400, 180]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "No tienes ningun analisis guardado. Enviame primero un texto, PDF, imagen o URL para analizar.",
        "additionalFields": {}
      },
      "id": "node-no-analysis-msg",
      "name": "No Analysis Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1620, 320],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://tgs-openclaw:18789/tools/invoke",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "={{ \"Bearer \" + $env.OPENCLAW_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tool: 'reddit-publisher', args: { title: $json.title, body: $json.body, target: $env.REDDIT_TARGET } }) }}",
        "options": {"timeout": 30000}
      },
      "id": "node-openclaw",
      "name": "Publish to Reddit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1620, 80]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Extract Chat ID').item.json.chat_id }}",
        "text": "={{ $json.ok ? `Analisis publicado en Reddit:\\n${$json.post_url}` : `Error al publicar: ${$json.error}` }}",
        "additionalFields": {}
      },
      "id": "node-confirm",
      "name": "Confirm Publication",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1840, 80],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [[{"node": "Is /publish", "type": "main", "index": 0}]]
    },
    "Is /publish": {
      "main": [
        [{"node": "Extract Chat ID", "type": "main", "index": 0}],
        []
      ]
    },
    "Extract Chat ID": {
      "main": [[{"node": "Retrieve from Memory", "type": "main", "index": 0}]]
    },
    "Retrieve from Memory": {
      "main": [[{"node": "Parse Retrieved Analysis", "type": "main", "index": 0}]]
    },
    "Parse Retrieved Analysis": {
      "main": [[{"node": "Has Analysis", "type": "main", "index": 0}]]
    },
    "Has Analysis": {
      "main": [
        [{"node": "Publish to Reddit", "type": "main", "index": 0}],
        [{"node": "No Analysis Message", "type": "main", "index": 0}]
      ]
    },
    "Publish to Reddit": {
      "main": [[{"node": "Confirm Publication", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "id": "tgs-workflow-02",
  "meta": {"instanceId": "REPLACE_WITH_INSTANCE_ID"}
}
